#contenedor{
    overflow: hidden;
}

#contenedor figure{
    position: relative;
    width: 800%;
    margin: 0;
    left: 0;
    animation: 20s contenedor infinite;
}

#contenedor figure img{
    width: 12.5%;
    float: left;
}

@keyframes contenedor{
    0% {left: 0;}
    12% {left: 0;}

    13% {left: -100%;}
    24% {left: -100%;}

    37% {left: -200%;}
    48% {left: -200%;}

    49% {left: -400%;}
    60% {left: -400%;}

    61% {left: -500%;}
    72% {left: -500%;}

    73% {left: -600%;}
    84% {left: -600%;}

    84% {left: -700%;}
    100% {left: -700%;}
}